/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('img/FUNDOV2.webp') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 800px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in-out;
}

header h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
    background: linear-gradient(90deg, #007BFF, #00FF88);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

section {
    text-align: left;
    margin: 20px 0;
}

section h2 {
    font-size: 1.8rem;
    color: #007BFF;
    margin-bottom: 15px;
}

ol {
    padding-left: 20px;
    margin-bottom: 20px;
}

ol li {
    font-size: 1rem;
    margin-bottom: 15px;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media screen and (min-width: 768px) {
    .container {
        padding: 40px;
    }

    header h1 {
        font-size: 2.5rem;
    }

    section h2 {
        font-size: 2rem;
    }

    main p, ol li {
        font-size: 1.2rem;
    }

    button {
        font-size: 1.2rem;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.footer-text {
    font-size: 0.6rem;
}
/* Estilos para as tabelas */
table {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #007BFF;
    color: white;
    text-align: left;
}

th:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

tr:hover {
    background-color: #f5f5f5;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.additional-info {
    display: none;
    margin-top: 20px;
}
.arrow {
    margin-left: 5px;
    cursor: pointer;
}

.expandable-table {
    display: none;
}
